.default_image{
  width: 100%;         
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.default_image_icon{
  display: block;
  fill: #fff;
  width: 100px;
  height: 100px;
}

.default_image_title{
  color: #fff;
  margin: 0;
}

